<link href="css/signup.css" rel="stylesheet">
<form action="/form"  method="POST"  style="border:1px solid #ccc">
    <div class="container">
    
     <h1>General Information</h1>
      <p>Please fill in this form to create your portfolio.</p>
      <hr> 

      <label for="pagename"><b>Page Name</b></label>
      <input type="text" placeholder="Enter  Pagename" name="pagename" >

      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" >

      <label for="fullname"><b>Full Name</b></label>
      <input type="text" placeholder="Enter Fullname" name="fullname" >

      <label for="skill"><b>Skill</b></label>
      <input type="text" placeholder="Enter skills" name="skill" >

      <label for="profile"><b>Profile</b></label>
      <input type="text" placeholder="Enter Portfolio" name="profile" >
   
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" >
  
      <label for="address"><b>Addresses</b></label>
      <input type="text" placeholder="Enter Addresses" name="address" >

      <label for="aboutme1"><b>About Me 1</b></label>
      <input type="text" placeholder="Enter About Me 1" name="aboutme1" >

      <label for="aboutme2"><b>About Me 2</b></label>
      <input type="text" placeholder="Enter About Me 2" name="aboutme2" >

      <label for="aboutme3"><b>About Me 3</b></label>
      <input type="text" placeholder="Enter About Me 3" name="aboutme3" >
  
      <label for="phone"><b>Phone Number</b></label>
      <input type="text" placeholder="Phone Number" name="phone" >
      

      <h1>Service Information</h1>
      <hr> 
      <h3>Service Item 1</h3>
      <label for="serviceTitle1"><b>Title</b></label>
      <input type="text" placeholder="Enter Service Title" name="serviceTitle1" >

      <label for="serviceDescription1"><b>Description</b></label>
      <input type="text" placeholder="Enter Service Description" name="serviceDescription1" >

      <label for="serviceIcon1"><b>Icon</b></label>
      <input type="text" placeholder="Enter Service Icon" name="serviceIcon1" >

      <h3>Service Item 2</h3>
      <label for="serviceTitle2"><b>Title</b></label>
      <input type="text" placeholder="Enter Service Title" name="serviceTitle2" >

      <label for="serviceDescription2"><b>Description</b></label>
      <input type="text" placeholder="Enter Service Description" name="serviceDescription2" >

      <label for="serviceIcon2"><b>Icon</b></label>
      <input type="text" placeholder="Enter Service Icon" name="serviceIcon2" >

      <h3>Service Item 3</h3>
      <label for="serviceTitle3"><b>Title</b></label>
      <input type="text" placeholder="Enter Service Title" name="serviceTitle3" >

      <label for="serviceDescription3"><b>Description</b></label>
      <input type="text" placeholder="Enter Service Description" name="serviceDescription3" >

      <label for="serviceIcon3"><b>Icon</b></label>
      <input type="text" placeholder="Enter Service Icon" name="serviceIcon3" >


      <h1>Portfolio Information</h1>
      <hr> 
      <h3>Portfolio Item 1</h3>
      <label for="portfolioTitle1"><b>Title</b></label>
      <input type="text" placeholder="Enter Portfolio Title" name="portfolioTitle1" >

      <label for="portfolioCategory1"><b>Category</b></label>
      <input type="text" placeholder="Enter Portfolio Category" name="portfolioCategory1" >

      <label for="portfolioImage1"><b>Image</b></label>
      <input type="text" placeholder="Enter Portfolio Image" name="portfolioImage1" >

      <h3>Portfolio Item 2</h3>
      <label for="portfolioTitle2"><b>Title</b></label>
      <input type="text" placeholder="Enter Portfolio Title" name="portfolioTitle2" >

      <label for="portfolioCategory2"><b>Category</b></label>
      <input type="text" placeholder="Enter Portfolio Category" name="portfolioCategory2" >

      <label for="portfolioImage2"><b>Image</b></label>
      <input type="text" placeholder="Enter Portfolio Image" name="portfolioImage2" >

      <h3>Portfolio Item 3</h3>
      <label for="portfolioTitle3"><b>Title</b></label>
      <input type="text" placeholder="Enter Portfolio Title" name="portfolioTitle3" >

      <label for="portfolioCategory3"><b>Category</b></label>
      <input type="text" placeholder="Enter Portfolio Category" name="portfolioCategory3" >

      <label for="portfolioImage3"><b>Image</b></label>
      <input type="text" placeholder="Enter Portfolio Image" name="portfolioImage3" >



      <h1>Container Information</h1>
      <hr> 
      <h3>Container Information 1</h3>
      <label for="containerTitle1"><b>Title</b></label>
      <input type="text" placeholder="Enter Container Title" name="containerTitle1" >

      <label for="containerCount1"><b>Count</b></label>
      <input type="text" placeholder="Enter Container Count" name="containerCount1" >

      <label for="containerIcon1"><b>Icon</b></label>
      <input type="text" placeholder="Enter Container Icon" name="containerIcon1" >

      <h3>Container Information 2</h3>
      <label for="containerTitle2"><b>Title</b></label>
      <input type="text" placeholder="Enter Container Title" name="containerTitle2" >

      <label for="containerCount2"><b>Count</b></label>
      <input type="text" placeholder="Enter Container Count" name="containerCount2" >

      <label for="containerIcon2"><b>Icon</b></label>
      <input type="text" placeholder="Enter Container Icon" name="containerIcon2" >


      <h3>Container Information 3</h3>
      <label for="containerTitle3"><b>Title</b></label>
      <input type="text" placeholder="Enter Container Title" name="containerTitle3" >

      <label for="containerCount3"><b>Count</b></label>
      <input type="text" placeholder="Enter Container Count" name="containerCount3" >

      <label for="containerIcon3"><b>Icon</b></label>
      <input type="text" placeholder="Enter Container Icon" name="containerIcon3" >

      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Submit</button>
      </div>
    </div>
  </form> 